<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EntityFramework" version="5.0.0" targetFramework="net45" />
  <package id="EntityFramework.zh-Hant" version="5.0.0" targetFramework="net45" />
  <package id="Selenium.Chrome.WebDriver" version="85.0.0" targetFramework="net45" />
  <package id="Selenium.Firefox.WebDriver" version="0.27.0" targetFramework="net45" />
  <package id="Selenium.Support" version="4.0.0-alpha07" targetFramework="net461" />
  <package id="Selenium.WebDriver" version="4.0.1" targetFramework="net461" />
  <package id="Selenium.WebDriver.ChromeDriver" version="92.0.4515.10700" targetFramework="net461" />
</packages>